body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 250, 250);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image{
  width:25%;
  margin-top: 50px;
}

@media (max-width: 770px){
  .container{
    margin: 0 5%;
  }
  
  .image{
    width: 55%;
  }
}